name: Deploy Cloud Function

on:
  push:
    branches:
      - main

env:
  SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SA_SECRET }}
  GCP_PROJ: ${{ vars.GCP_PROJ }}
  FUNC_NAME: ${{ vars.FUNC_NAME }}

  ACTIONS_STEP_DEBUG: true
  RUNNER_DEBUG: true


jobs:
  prep:
    runs-on: ubuntu-latest
    steps:
      - name: Setup GCP & prep for deploy 
        uses: ./.github/workflows/prep-project.yml
        with:
          gcp_proj: ${{ env.GCP_PROJ }}
          gcp_sa_key: ${{ secrets.GCP_SA_SECRET }}

      - name: Deploy function
        run: |
          gcloud functions deploy $FUNC_NAME --entry-point main --runtime python39 --source . --trigger-http --region europe-west2

      - name: Test function
        run: |
          # Test using curl
