name: Deploy Cloud Function

on:
  push:
    branches:
      - main

env:
  SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SA_SECRET }}
  GCP_PROJ: ${{ vars.GCP_PROJ }}
  FUNC_NAME: ${{ vars.FUNC_NAME }}

  ACTIONS_STEP_DEBUG: true
  RUNNER_DEBUG: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up GCP CLI
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: $GCP_PROJ
          service_account_key: $SERVICE_ACCOUNT_KEY
          export_default_credentials: true

      - name: Authenticate with Google Cloud Platform
        uses: google-github-actions/auth@v1
        with:
          credentials: $SERVICE_ACCOUNT_KEY
      - name: Use gcloud
        run: |
          gcloud auth list
          gcloud config list
          
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Deploy function
        run: |
          gcloud functions deploy $FUNC_NAME --entry-point main --runtime python39 --source . --trigger-http

      - name: Test function
        run: |
          # Test using curl
