name: Deploy Cloud Function

on:
  push:
    branches:
      - main

env:
  SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SA_SECRET }}
  FUNC_NAME: ${{ env.FUNC_NAME }}
  ACTIONS_STEP_DEBUG: true
  RUNNER_DEBUG: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up GCP CLI
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ env.GCP_PROJ }}
          service_account_key: ${{ secrets.GCP_SA_SECRET }}
          export_default_credentials: true

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Deploy function
        run: |
          gcloud functions deploy $FUNC_NAME --entry-point main --runtime python39 --source . --trigger-http

      - name: Test function
        run: |
          # Test using curl
